<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{projectName}}</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Der digitale Kreis">
    <meta name="Description" content="Der digtale Kreis umspannt Österreich."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Der digitale Kreis" />
    <meta property="og:type" content="foundation" />
    <meta property="og:url" content="https:digitalerkreis.net/" />
    <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
    <meta property="og:description" content="Der digtale Kreis umspannt Österreich." />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{mobileHeaderColor}}">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{mobileHeaderColor}}">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="header">
            <h1>header</h1>
        </div>

        <div id="sidebar">
            <h1>s</h1>
        </div>
        
        <div id="content">
            <h1>hello</h1>
        </div>

        <div id="audio-player">
            <!-- Top Info -->
        <div id="title">
            <span id="track"></span>
            <div id="timer">0:00</div>
            <div id="duration">0:00</div>
        </div>
    
    <!-- Controls -->
        <div class="controlsOuter">
            <div class="controlsInner">
                <div id="loading"></div>
                <div class="btn" id="playBtn"></div>
                <div class="btn" id="pauseBtn"></div>
                <div class="btn" id="prevBtn"></div>
                <div class="btn" id="nextBtn"></div>
            </div>
            <div class="btn" id="playlistBtn"></div>
            <div class="btn" id="volumeBtn"></div>
        </div>
    
        <!-- Progress -->
        <div id="waveform"></div>
        <div id="bar"></div>
        <div id="progress"></div>
        
        <!-- Playlist -->
        <div id="playlist">
            <div id="list"></div>
        </div>
    
        <!-- Volume -->
        <div id="volume" class="fadeout">
            <div id="barFull" class="bar"></div>
            <div id="barEmpty" class="bar"></div>
            <div id="sliderBtn"></div>
        </div>
    </div>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101423651-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-101423651-2');
</script> -->

</body>
</html>
