@import './fonts';
@import './audio';

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'FiraSans', sans-serif;
    text-align: center;
    font-weight: lighter;
}

#main {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

#header {
    grid-area: header;
    background: #ffcc33;
}

#sidebar {
    grid-area: sidebar;
    background: #a0e7d5;
}

#content {
    grid-area: main;
    background: #a6c4e0;
}

#audio-player {
    position: absolute;
    width:100%;
    bottom: 0;
    background: #91ec95;
    height: 256px;
}